/* src/components/styles/ShopCardComponent.css */

.custom-badge {
    border: 1px solid #078039b1; 
    background-color: #078039b1; 
    color: #ffffff; 
  }
  
  .card {
    margin-bottom: 1rem;
  }
  
  .card-img {
    width: 100%;
    height: auto;
  }
  